<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <ul fxLayout class="navigation-items">
        <!-- <li><a routerLink="/signup" routerLinkActive="active">Signup</a></li> -->
        <!-- <li><a routerLink="/login" routerLinkActive="active">Login</a></li> -->
        <li><a (click)="openLoginDialog()">Login</a></li>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li>
          <a routerLink="/investor" routerLinkActive="active">Investor</a>
        </li>
        <li [hidden]="!(broker||admin)"><a routerLink="/broker/c433ad7b83c1fdd" routerLinkActive="active">Broker</a></li>
        <li [hidden]="!admin"><a routerLink="/admin/4165433a7a07c5a" routerLinkActive="active">Admin</a></li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button mat-icon-button (click)="onToggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div>Stock Exchange</div>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
